<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy年MM月dd日 HH:mm:ss(SSS)} [%X{pid}] [%-15thread] [%level] %logger{16}: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.serliunx.ddns" level="INFO"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>